
body{
    background-color: black;
    color: white;

}



.topo-conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
    list-style: none;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px; /* 186.667% */
}

.btn {
    text-decoration: none;
    color: white;
    background-color: black;
    width: 214px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #FFF;
    

}

.p{
    display: flex;
    width: 592px;
    color: #FFF;
    font-family: Calistoga;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    line-height: 74px; /* 102.778% */
    width: 40%;
}

.photo {
    padding-left: 500px;
}

.paragrafo {
    color: #FFF;
    font-size: 20px;
    line-height: 26px; 
    width: 40%;
    position: relative;
    bottom: 400px;
}

.btn2 {
    width: 280px;
    height: 60px;
    border-radius: 5px;
    background: #FE6A0F;
    position: relative;
    bottom: 300px;
}

.search-area {
    background-color: rgb(30, 30, 30);
    position: relative;
    bottom: 80px;
    padding-bottom: 70px;
}
 
.search-title {
    padding-left: 270px;
    font-size: 32px;
    color: #FFF;
    font-style: normal;
    padding-top: 50px;
}

 
.search-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(30, 30, 30);
}
 
.search-list {
    width: 400px;
    background-color: rgb(35, 35, 35);
    font-size: 25px;
}

.search-list select {
    background-color: rgb(35, 35, 35);
    color: gray;
    border:none;
    font-size: 25px;
}

.btn-pesquisa {
    background-color: rgb(35, 35, 35);
    color: gray;
    border: none;
    width: 400px;
    height: 60px;
    font-size: 20px;
}

.div2 {
    padding-left: 300px;
}

.fa-face-grin-tongue {
    display: flex;    
    flex-direction: column;
    padding-top: 70px;
}

.btn3 {
    padding-left: 300px;
}

.footer-logo {
    padding-left: 50px;
    padding-top: 100px;
}

.footer{
    height: 239px;
    background: #1F1F1F;
}

.image-teste {
    border-radius: 8px 8px 0px 0px;
    background: #2B2B2B;
}

.card { 
    width: 384px;
    height: 416px;
}

.burguer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 200px 500px; */
    gap: 70px;
    grid-template-areas: 
    "burguer1 burguer2 burguer3"
    "texto texto2 texto3"
    "burguer4 burguer5 burguer6"
    "texto4 texto5 texto6";
    width: 1400px;
    margin: 0 auto;

}

  

.burguer1 {
    grid-area: burguer1;
    border-radius: 8px 8px 0px 0px;
    background: #2B2B2B;
    padding-top: 50px;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
   
}
.burguer1 img {
    width: 243px;
    height: 194px;
}

.texto {
    grid-area: texto;
    color: #FFF;
    font-size: 32px;
    width: 384px;
    height: 200px;
    background-color: #1F1F1F;
    border-radius: 0px 0px 10px 10px;
    
}

.burguer2 {
    grid-area: burguer2;
    border-radius: 8px 8px 0px 0px;
    background: #2B2B2B;
    padding-top: 50px;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
}

.burguer2 img {
    width: 243px;
    height: 194px;
}

.texto2 {
    grid-area: texto2;
    color: #FFF;
    font-size: 32px;
    width: 384px;
    height: 200px;
    background-color: #1F1F1F;
    border-radius: 0px 0px 10px 10px;
}

.burguer3 {
    grid-area: burguer3;
    border-radius: 8px 8px 0px 0px;
    background: #2B2B2B;
    padding-top: 50px;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;

}

.burguer3 img {
    width: 243px;
    height: 194px;
}

.texto3 {
    grid-area: texto3;
    color: #FFF;
    font-size: 32px;
    width: 384px;
    height: 200px;
    background-color: #1F1F1F;
    border-radius: 0px 0px 10px 10px;
}

.burguer4 {
    grid-area: burguer4;
    border-radius: 8px 8px 0px 0px;
    background: #2B2B2B;
    padding-top: 50px;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
}

.burguer4 img {
    width: 243px;
    height: 194px;
}

.texto4 {
    grid-area: texto4;
    color: #FFF;
    font-size: 32px;
    width: 384px;
    height: 200px;
    background-color: #1F1F1F;
    border-radius: 0px 0px 10px 10px;
}

.burguer5 {
    grid-area: burguer5;
    border-radius: 8px 8px 0px 0px;
    background: #2B2B2B;
    padding-top: 50px;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
}

.burguer5 img {
    width: 243px;
    height: 194px;
}

 .texto5 {
     grid-area: texto5;
     color: #FFF;
    font-size: 32px;
    width: 384px;
    height: 200px;
    background-color: #1F1F1F;
    border-radius: 0px 0px 10px 10px;
 }

 .burguer6 {
     grid-area: burguer6;
     border-radius: 8px 8px 0px 0px;
     background: #2B2B2B;
     padding-top: 50px;
     position: relative;
     top: 30px;
     justify-content: center;
     display: flex;
 }

 .burguer6 img {
     width: 243px;
     height: 194px;
 }

 .texto6 {
     grid-area: texto6;
     color: #FFF;
    font-size: 32px;
    width: 384px;
    height: 200px;
    background-color: #1F1F1F;
    border-radius: 0px 0px 10px 10px;
 }

 .sub1 {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
 }

 .orange1 {
    width: 169px;
    color: #FE6A0F;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
 }

 .sub2 {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
 }

 .orange2 {
    width: 169px;
    color: #FE6A0F;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
 }

 .sub3 {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
 }

 .orange3 {
    width: 169px;
    color: #FE6A0F;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
 }

 .sub4 {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
 }

 .orange4 {
    width: 169px;
    color: #FE6A0F;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
 }

 .sub5 {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
 }

 .orange5 {
    width: 169px;
    color: #FE6A0F;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
 }

 .sub6 {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
 }

 .orange6 {
    width: 169px;
    color: #FE6A0F;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
 }

 