
body{
    background-color: black;
    color: white;
}

.topo-conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
    list-style: none;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px; /* 186.667% */
}

.btn {
    text-decoration: none;
    color: white;
    background-color: black;
    width: 214px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #FFF;
    

}

.p{
    display: flex;
    width: 592px;
    color: #FFF;
    font-family: Calistoga;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    line-height: 74px; /* 102.778% */
    width: 40%;
}

.photo {
    padding-left: 500px;
}

.paragrafo {
    color: #FFF;
    font-size: 20px;
    line-height: 26px; 
    width: 40%;
}

.btn2 {
    width: 280px;
    height: 60px;
    border-radius: 5px;
    background: #FE6A0F;
}

.search-area {
    background-color: rgb(30, 30, 30);
}
 
.search-title {
    padding-left: 220px;
    font-size: 32px;
    color: #FFF;
    font-style: normal;
    padding-top: 50px;
}

 
.search-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(30, 30, 30);
}
 
.search-list {
    width: 15%;
    background-color: rgb(35, 35, 35);
    font-size: 25px;
}
 
.btn-pesquisa {
    background-color: rgb(35, 35, 35);
    color: gray;
    border: none;
    width: 400px;
    height: 60px;
    font-size: 20px;
}

.div2 {
    padding-left: 300px;
}

.fa-face-grin-tongue {
    display: flex;    
    flex-direction: column;
    padding-top: 70px;
}

.btn3 {
    padding-left: 300px;
}

.footer-logo {
    padding-left: 50px;
    padding-top: 100px;
}

.footer{
    height: 239px;
    background: #1F1F1F;
}

.image-teste {
    border-radius: 8px 8px 0px 0px;
    background: #2B2B2B;
}